* {
  box-sizing: border-box;
}

body {
  background-color: rgb(181, 166, 182);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 18%;
  border-radius: 50%;
  border: 0.09em solid rgb(57, 38, 63);
}
.link a {
  margin: 20px;
  padding-bottom: 5px;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 22px;
  color: rgb(80, 29, 95);
  font-weight: bold;
}
a:hover {
  color: slategrey;
}

h1 {
  display: block;
  text-align: center;
}
h4 {
  display: block;
  text-align: center;
}
p {
  display: block;
  text-align: center;
  font-size: 20px;
}

.sidepanel {
  height: 250px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: rgb(75, 73, 75);
  color: white;
  padding: 15px 20px;
  margin: 10px 10px;
  border: none;
  border-radius: 10px;
}

.openbtn:hover {
  background-color: rgb(46, 45, 45);
}
embed {
  margin: auto;
  display: block;
}

.textbox-content {
  margin-left: 15%;
  margin-right: 15%;
}
