* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
  background-color: #f1f1f1;
}

h1 {
  font-size: 50px;
  text-align: center;
  word-break: break-all;
}
h4 {
  display: block;
  text-align: center;
}
p {
  display: block;
  text-align: center;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 10px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  height: 400px;
  width: 240px;
}

.content:hover {
  background-color: rgba(173, 127, 177, 0.466);
}

@media screen and (max-width: 900px) {
  .column {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* The sidepanel menu */
.sidepanel {
  height: 250px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: rgb(75, 73, 75);
  color: white;
  padding: 15px 20px;
  margin: 10px 10px;
  border: none;
  border-radius: 10px;
}

.openbtn:hover {
  background-color: rgb(46, 45, 45);
}
